.project-title {
  color: blue;
}

.page-container {
  padding-left: 100px;
  padding-top: 20px;
  padding-left: 20px;
}

.enter-field {
  margin-bottom: 50px;
}

.items-title{
  margin-bottom: 10px;
}
